/* CSS module file for the scroll-animated-related styles */

.scrollAnimated {
  opacity: 0;
  transform: translateY(25px) scale(0.9);
  transition:
      opacity 0.5s ease,
      transform 0.5s ease;
}

.scrollAnimated.animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.scrollAnimated.fadeOut {
  opacity: 0;
  transform: translateY(25px) scale(0.9);
}
